$mobile-layout: 767px;

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  color: rgb(38, 38, 38);
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  padding: 14em 14em 14em 20em;
  overflow: hidden;

  h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: "Roboto Slab", serif;
  }

  img {
    position: absolute;
    z-index: -2;
    height: 100vh;
    max-width: 100vw;
    top: 0;
    left: 0;
  }

  .container {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    padding: 5em;
    border-radius: 3em;
    position: relative;
    z-index: 1;
    font-size: 1.25rem;
    backdrop-filter: blur(10px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);

    @media (max-width: $mobile-layout) {
      position: absolute;
      left: 0;
      padding: 1em;
      border-radius: 1em;
    }

    h2 {
      font-family: "Roboto Slab", serif;
      font-size: 2.4rem;
      clip-path: inset(0 0 0 0);
    }
  }

  footer {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 30px;
    left: 50%;
  }
}

// background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
// FBC2EB
// A6C1EE
// 4F518C
// AF125A
